<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h1 class="text-center">Create New Chart</h1>
  <%= render 'layouts/identifier' %>
  <% if defined?(Chart.where(regi_id: params[:regi_id]).last.id) %>
    <%= render 'chart' %>
  <% else %>
    <%= render 'form' %>
  <% end %>
  
<% end %>