<%# if (current_user && current_user.manager?) || (current_user && current_user.admin?) %>

  <h1 class="text-center">Patient Chart</h1>
  <%= render 'layouts/identifier' %> 
  <%= render 'form' %>

<%# end %>