<% if (current_user && current_user.Manager?) || (current_user && current_user.Admin?) %>

  <h1 class="text-center">Patient Record</h1>
  <%= render 'layouts/identifier' %>
  <%= render 'form' %>
  
<% end %>
