<div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center mt-5">    
    <div class="card mt-3 mx-auto border-primary" style="width: 33rem;">
      <img src="..." class="card-img-top" alt="">
      <div class="card-title bg-secondary">
        <h2 class="text-center text-white mt-3">
          Edit Patient Registration
        </h2>
      </div>
      <div class="card-body">
        <div class="card-text">
          <%= render "form", regi:@regi %>
        </div>
      </div>
    </div>
  </div>
</div>



