<div 
  class="screen"
  style="background-image: url(<%= asset_path 'pine_trees.jpg' %> );">
  <div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 pt-3" style="font-size: 3.3rem">Welcome to Zhang's Acupuncture<h6></b></b>
  </div>
  <br><br><br><br><br><div class="color-overlay d-flex justify-content-center mt-5">
    <b><b><h6 class="mt-5 pt-3" style="font-size: 2rem">Traditional Chinese Medical Treatment<h6></b></b>
  </div>
</div>
